* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: midnightblue;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    height: 250px;
    background-color: white;
    position: absolute;
    top: 300px;
    left: 750px;
    border-radius: 10px;
}

.box1 {
    position: relative;
    width: 300px;
    height: 125px;
    background-color: rgb(13, 244, 194);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.shoe {
    height: 125px;
    width: 130px;
    background-image: url("shoes.png");
    background-size: cover;
}

.box1-text {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: animate 0.5s linear 1s infinite alternate;
}

.cross{
    position: absolute;
    left:270px;
    top: 5px;
}
@keyframes animate{
    from{
        background-color:black;
        color:white;
    }
    to{
        background-color:white;
        color:black;
    }
}
.box2{
    background-color:azure;
     align-items: center;
     display: flex;
}
.text1{
    position: absolute;
    top: 150px;
    left: 20px;
}
.text2{
    position: absolute;
    top: 170px;
    left: 20px;
}
.text3{
    position: absolute;
    top: 190px;
    left: 20px;
}
button{
    position:absolute;
    top:150px;
    left:190px;
    height:40 px;
    width:100px;
    background-color:white;
    color:black;
    border-radius:20px;

}
button:hover{
    background-color:rgb(244, 144, 13);
    color:black;
}




